<a href="https://colab.research.google.com/github/zckristy/BA780/blob/main/Bluebike_merging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget url_to_the_zip_file

--2020-11-17 04:12:50--  http://url_to_the_zip_file/
Resolving url_to_the_zip_file (url_to_the_zip_file)... failed: Name or service not known.
wget: unable to resolve host address ‘url_to_the_zip_file’

In [ ]:
!unzip /content/201906-bluebikes-tripdata.zip

Archive:  /content/201906-bluebikes-tripdata.zip
replace 201907-bluebikes.tripdata.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [ ]:
import pandas as pd

In [ ]:
bb1 = pd.read_csv('/content/201901-bluebikes-tripdata.csv')
bb2 = pd.read_csv('/content/201902-bluebikes-tripdata.csv')
bb3 = pd.read_csv('/content/201903-bluebikes-tripdata.csv')
bb4 = pd.read_csv('/content/201904-bluebikes-tripdata.csv')
bb5 = pd.read_csv('/content/201905-bluebikes-tripdata.csv')
bb6 = pd.read_csv('/content/06')
bb7 = pd.read_csv('/content/201907-bluebikes-tripdata')
bb8 = pd.read_csv('/content/201908-bluebikes-tripdata')
bb9 = pd.read_csv('/content/201909-bluebikes-tripdata.csv')
bb10 = pd.read_csv('/content/201910-bluebikes-tripdata.csv')
bb11 = pd.read_csv('/content/201911-bluebikes-tripdata.csv')
bb12 = pd.read_csv('/content/201912-bluebikes-tripdata.csv')

In [ ]:
bb6.head()

   tripduration                 starttime  ... birth year  gender
0           241  2019-06-01 00:00:20.0010  ...       1988       1
1           758  2019-06-01 00:00:28.6980  ...       1956       1
2           522  2019-06-01 00:00:48.3290  ...       1969       0
3           474  2019-06-01 00:01:08.2010  ...       1988       1
4          1289  2019-06-01 00:02:14.0130  ...       1989       1

[5 rows x 15 columns]

In [ ]:
bb1.shape

(69872, 15)

In [ ]:
bb2019.head()

   tripduration                 starttime  ... birth year  gender
0           371  2019-01-01 00:09:13.7980  ...       1987       1
1           264  2019-01-01 00:33:56.1820  ...       1990       1
2           458  2019-01-01 00:41:54.6000  ...       1977       1
3           364  2019-01-01 00:43:32.5710  ...       1993       1
4           681  2019-01-01 00:49:56.4640  ...       1979       2

[5 rows x 15 columns]

In [ ]:
bb2019=bb1.append([bb2,bb3,bb4,bb5,bb6,bb7,bb8,bb9,bb10,bb11,bb12],ignore_index = True)

In [ ]:
bb2019.shape

(2522537, 15)

In [ ]:
import pandas as pd
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

dr = pd.date_range(start='2019-01-01', end='2019-12-31')
df = pd.DataFrame()
df['Date'] = dr

cal = calendar()
holidays = cal.holidays(start=dr.min(), end=dr.max())

df['Holiday'] = df['Date'].isin(holidays)
df.head()

        Date  Holiday
0 2019-01-01     True
1 2019-01-02    False
2 2019-01-03    False
3 2019-01-04    False
4 2019-01-05    False

In [ ]:
bb2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2522537 entries, 0 to 2522536
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         int64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           int64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(4), int64(6), object(5)
memory usage: 288.7+ MB

In [ ]:
bb2019['starttime'] =  pd.to_datetime(bb2019['starttime'])
bb2019['stoptime'] =  pd.to_datetime(bb2019['stoptime'])

In [ ]:
bb2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2522537 entries, 0 to 2522536
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                datetime64[ns]
 2   stoptime                 datetime64[ns]
 3   start station id         int64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           int64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: datetime64[ns](2), float64(4), int64(6), object(3)
memory usage: 288.7+ MB

In [ ]:
bb2019['Date']  = bb2019['starttime'].dt.date

         tripduration               starttime  ... gender        Date
0                 371 2019-01-01 00:09:13.798  ...      1  2019-01-01
1                 264 2019-01-01 00:33:56.182  ...      1  2019-01-01
2                 458 2019-01-01 00:41:54.600  ...      1  2019-01-01
3                 364 2019-01-01 00:43:32.571  ...      1  2019-01-01
4                 681 2019-01-01 00:49:56.464  ...      2  2019-01-01
...               ...                     ...  ...    ...         ...
2522532          1562 2019-12-31 23:52:10.728  ...      1  2019-12-31
2522533          2250 2019-12-31 23:52:14.927  ...      1  2019-12-31
2522534           397 2019-12-31 23:54:58.391  ...      1  2019-12-31
2522535           360 2019-12-31 23:55:54.544  ...      1  2019-12-31
2522536            63 2019-12-31 23:57:49.672  ...      1  2019-12-31

[2522537 rows x 16 columns]

In [ ]:
bb2019 = bb2019.rename(columns={'date':'Date'})
bb2019.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'Date'],
      dtype='object')

In [ ]:
bb2019['Date']=pd.to_datetime(bb2019['Date'])

In [ ]:
bb2019.merge(df,left_on ='Date', right_on = 'Date', how = 'left')

         tripduration               starttime  ...       Date  Holiday
0                 371 2019-01-01 00:09:13.798  ... 2019-01-01     True
1                 264 2019-01-01 00:33:56.182  ... 2019-01-01     True
2                 458 2019-01-01 00:41:54.600  ... 2019-01-01     True
3                 364 2019-01-01 00:43:32.571  ... 2019-01-01     True
4                 681 2019-01-01 00:49:56.464  ... 2019-01-01     True
...               ...                     ...  ...        ...      ...
2522532          1562 2019-12-31 23:52:10.728  ... 2019-12-31    False
2522533          2250 2019-12-31 23:52:14.927  ... 2019-12-31    False
2522534           397 2019-12-31 23:54:58.391  ... 2019-12-31    False
2522535           360 2019-12-31 23:55:54.544  ... 2019-12-31    False
2522536            63 2019-12-31 23:57:49.672  ... 2019-12-31    False

[2522537 rows x 17 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     365 non-null    datetime64[ns]
 1   Holiday  365 non-null    bool
dtypes: bool(1), datetime64[ns](1)
memory usage: 3.3 KB

In [ ]:
bb2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2522537 entries, 0 to 2522536
Data columns (total 16 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                datetime64[ns]
 2   stoptime                 datetime64[ns]
 3   start station id         int64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           int64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
 15  date                     object
dtypes: datetime64[ns](2), float64(4), int64(6), object(4)
memory usage: 307.9+ MB

In [ ]:
bb2019.to_csv('bb2019.csv')

NameError: ignored

In [ ]:
bos19 = pd.read_csv('/content/bosweather19.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  365 non-null    int64
 1   NAME        365 non-null    object
 2   DATE        365 non-null    object
 3   AWND        365 non-null    float64
 4   PRCP        365 non-null    float64
 5   SNOW        365 non-null    float64
 6   TAVG        365 non-null    int64
 7   WT          152 non-null    object
dtypes: float64(3), int64(2), object(3)
memory usage: 22.9+ KB

In [ ]:
bos19.info()

In [ ]:
bos19['DATE'] = pd.to_datetime(bos19['DATE'])
bos19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  365 non-null    int64
 1   NAME        365 non-null    object
 2   DATE        365 non-null    datetime64[ns]
 3   AWND        365 non-null    float64
 4   PRCP        365 non-null    float64
 5   SNOW        365 non-null    float64
 6   TAVG        365 non-null    int64
 7   WT          152 non-null    object
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 22.9+ KB

In [ ]:
Blue19 = bb2019.merge(bos19,left_on = 'Date',right_on ='DATE',how='left')

In [ ]:
Blue19.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2522537 entries, 0 to 2522536
Data columns (total 24 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                datetime64[ns]
 2   stoptime                 datetime64[ns]
 3   start station id         int64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           int64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
 15  Date                     datetime64[ns]
 16  Unnamed: 0               int64
 17  NAME                     object
 18  DATE                     datetime64[ns]
 19  AWND                     float64
 20  PRCP                     float64
 21  SNOW                     float64
 22  TAVG                     int64
 23  WT                       object
dtypes: datetime64[ns](4), float64(7), int64(8), object(5)
memory usage: 481.1+ MB

In [ ]:
Blue19.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'Date', 'Unnamed: 0', 'NAME', 'DATE', 'AWND',
       'PRCP', 'SNOW', 'TAVG', 'WT'],
      dtype='object')

In [ ]:
Blue19 = Blue19[['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'Date', 'AWND',
       'PRCP', 'SNOW', 'TAVG', 'WT']]

In [ ]:
Blue19.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2522537 entries, 0 to 2522536
Data columns (total 21 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                datetime64[ns]
 2   stoptime                 datetime64[ns]
 3   start station id         int64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           int64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
 15  Date                     datetime64[ns]
 16  AWND                     float64
 17  PRCP                     float64
 18  SNOW                     float64
 19  TAVG                     int64
 20  WT                       object
dtypes: datetime64[ns](3), float64(7), int64(7), object(4)
memory usage: 423.4+ MB

In [ ]:
Blue19.to_csv('Blue_19.csv')

KeyboardInterrupt: ignored